# Rust build artifacts
**/target/
**/*.rs.bk

# Node
**/node_modules/
**/.npm/
**/.yarn/
**/dist/
**/.parcel-cache/

# VS Code local settings
**/.vscode/

# OS/filesystem
.DS_Store
Thumbs.db

# Logs
**/*.log

# Generated installers/output
/install/output/
/j-lang/dist/
