<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
  
  <!-- Product Information -->
  <Product Id="*" 
           Name="J Programming Language" 
           Language="1033" 
           Version="0.1.0" 
           Manufacturer="J Language Team" 
           UpgradeCode="8F9A3B2C-1D4E-5F6A-7B8C-9D0E1F2A3B4C">
    
    <Package InstallerVersion="200" 
             Compressed="yes" 
             InstallScope="perUser" 
             Description="J Programming Language Installer"
             Comments="Install J Language on your system" />

    <!-- Media -->
    <Media Id="1" Cabinet="j-lang.cab" EmbedCab="yes" />

    <!-- Upgrade Logic -->
    <MajorUpgrade DowngradeErrorMessage="A newer version of J Language is already installed." />

    <!-- Installation Directory -->
    <Directory Id="TARGETDIR" Name="SourceDir">
      <Directory Id="LocalAppDataFolder">
        <Directory Id="INSTALLFOLDER" Name="J">
          <Directory Id="BinFolder" Name="bin" />
          <Directory Id="ExamplesFolder" Name="examples" />
        </Directory>
      </Directory>
      
      <!-- Start Menu -->
      <Directory Id="ProgramMenuFolder">
        <Directory Id="ApplicationProgramsFolder" Name="J Language" />
      </Directory>
    </Directory>

    <!-- Components -->
    <DirectoryRef Id="BinFolder">
      <Component Id="JExecutable" Guid="1A2B3C4D-5E6F-7A8B-9C0D-1E2F3A4B5C6D">
        <File Id="JExe" 
              Source="..\dist\j-windows-x86_64.exe" 
              Name="j.exe" 
              KeyPath="yes" />
        
        <!-- Add to PATH -->
        <Environment Id="PATH" 
                     Name="PATH" 
                     Value="[BinFolder]" 
                     Permanent="no" 
                     Part="last" 
                     Action="set" 
                     System="no" />
      </Component>
    </DirectoryRef>

    <DirectoryRef Id="INSTALLFOLDER">
      <Component Id="JLogo" Guid="2B3C4D5E-6F7A-8B9C-0D1E-2F3A4B5C6D7E">
        <File Id="LogoIco" 
              Source="..\J_lang_logo.ico" 
              Name="J_lang_logo.ico" 
              KeyPath="yes" />
      </Component>
      
      <!-- File Association -->
      <Component Id="FileAssociation" Guid="3C4D5E6F-7A8B-9C0D-1E2F-3A4B5C6D7E8F">
        <ProgId Id="JSourceFile" Description="J Source File" Icon="LogoIco">
          <Extension Id="j" ContentType="text/plain">
            <Verb Id="open" Command="Run with J" TargetFile="JExe" Argument='run "%1"' />
            <Verb Id="edit" Command="Edit" Argument='"%1"' />
          </Extension>
        </ProgId>
        <CreateFolder />
        <RemoveFolder Id="RemoveINSTALLFOLDER" On="uninstall" />
        <RegistryValue Root="HKCU" 
                       Key="Software\JLanguage" 
                       Name="installed" 
                       Type="integer" 
                       Value="1" 
                       KeyPath="yes" />
      </Component>
    </DirectoryRef>

    <!-- Examples -->
    <DirectoryRef Id="ExamplesFolder">
      <Component Id="Examples" Guid="4D5E6F7A-8B9C-0D1E-2F3A-4B5C6D7E8F9A">
        <File Id="BasicExample" Source="..\examples\basic.j" KeyPath="yes" />
        <File Id="MathExample" Source="..\examples\math_utils.j" />
        <File Id="TestModules" Source="..\examples\test_modules.j" />
      </Component>
    </DirectoryRef>

    <!-- Start Menu Shortcuts -->
    <DirectoryRef Id="ApplicationProgramsFolder">
      <Component Id="ApplicationShortcuts" Guid="5E6F7A8B-9C0D-1E2F-3A4B-5C6D7E8F9A0B">
        <Shortcut Id="JReplShortcut"
                  Name="J REPL"
                  Description="Start J Interactive REPL"
                  Target="[BinFolder]j.exe"
                  Arguments="repl"
                  WorkingDirectory="INSTALLFOLDER"
                  Icon="JIcon" />
        
        <Shortcut Id="ExamplesShortcut"
                  Name="J Examples"
                  Description="J Example Programs"
                  Target="[ExamplesFolder]"
                  WorkingDirectory="ExamplesFolder" />
        
        <Shortcut Id="UninstallShortcut"
                  Name="Uninstall J Language"
                  Description="Uninstall J Language"
                  Target="[System64Folder]msiexec.exe"
                  Arguments="/x [ProductCode]" />
        
        <RemoveFolder Id="ApplicationProgramsFolder" On="uninstall" />
        <RegistryValue Root="HKCU" 
                       Key="Software\JLanguage" 
                       Name="shortcuts" 
                       Type="integer" 
                       Value="1" 
                       KeyPath="yes" />
      </Component>
    </DirectoryRef>

    <!-- Features -->
    <Feature Id="ProductFeature" 
             Title="J Language" 
             Level="1"
             Description="J Programming Language Core"
             ConfigurableDirectory="INSTALLFOLDER">
      <ComponentRef Id="JExecutable" />
      <ComponentRef Id="JLogo" />
      <ComponentRef Id="FileAssociation" />
      <ComponentRef Id="Examples" />
      <ComponentRef Id="ApplicationShortcuts" />
    </Feature>

    <!-- UI -->
    <UIRef Id="WixUI_InstallDir" />
    <Property Id="WIXUI_INSTALLDIR" Value="INSTALLFOLDER" />
    
    <!-- License -->
    <WixVariable Id="WixUILicenseRtf" Value="license.rtf" />
    
    <!-- Icons -->
    <Icon Id="JIcon" SourceFile="..\J_lang_logo.ico" />
    <Property Id="ARPPRODUCTICON" Value="JIcon" />
    
    <!-- Add/Remove Programs -->
    <Property Id="ARPHELPLINK" Value="https://github.com/j-lang/j" />
    <Property Id="ARPURLINFOABOUT" Value="https://j-lang.org" />
    
  </Product>
</Wix>
